*{
    margin: 0px;
    padding: 0%;
}
body{
    font-family: "Gabarito", sans-serif;
    padding:5px;
}
.nav-Bar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}
.nav-Bar__s1{
    display:flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}
.nav-Bar__s1 img{
    width:100px;
    height: 41px;
}
.nav-Bar__s2{
    padding: 15px;
    border : 1px solid gray;
    border-radius: 30px;
    width:35%;
    display: flex;
    gap:10px;
    align-items: center;
}
.nav-Bar__s2 i{
    margin-left:10px;
}

.nav-Bar__s2 input{
    border: none;
}
.nav-Bar__s2 input:focus{
    outline:none;
}

.nav-Bar__s3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    width:50%;
}
.nav-Bar__s3--login{
    display:flex;
    align-items:center;
    color: #892DE1;
    border: 1px solid #892DE1;
    border-radius:5px;
    padding-left:15px;
    padding-right:15px;
    height:90%;
}
.nav-Bar__s3--signup{
    display:flex;
    align-items:center;
    color: white;
    background-color: #892DE1;
    border: 2px solid white;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    height:90%;
}
.menu-bar{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    padding: 10px;
}
.menu-bar p{
    flex-direction:row;
    justify-content:center;
    align-items: center;
    border: 2px  solid #892DE1;
    border-radius: 30px;
    color: white;
    background-color: #892DE1;
    padding:10px;
}
.title-img{
    background-image: url(css-img/deal-image.png);
    background-repeat: no-repeat;
    height: 330px;
    margin-left: 70px;
    padding-top:70px;
}
.title-img__today-deals{
    background-color: white;
    display: flex;
    flex-direction: column;
    width:400px;
    height: 100px;
    border-radius:2%;
    margin-left: 70px;
    padding: 30px;
}
.suggestion-bar{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content:space-around;
    align-items: center;
    margin: 0px 50px;
    overflow-y: auto;
}
.suggestion-bar__descri{
    width: 20%;
    color: rgb(25, 23, 23);
}
.suggestion-bar__s1{
    background-image: url(css-img/sugstn1.png);
    background-size: cover;
    height: 350px;
    width: 300px;
    border-radius:30px;
    display: flex;
    align-items: center;
}
.suggestion-bar__s2{
    background-image: url(css-img/sugstn2.png);
    background-size: cover;
    height: 350px;
    width: 300px;
    border-radius:30px;
    display: flex;
    align-items: center;
}
.suggestion-bar__s3{
    background-image: url(css-img/sugstn3.png);
    background-size: cover;
    height: 350px;
    width: 300px;
    border-radius:30px;
    display: flex;
    align-items: center;
}

button{
    width: 80%;
    height: 25%;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-left:30px;
    margin-top: 225px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    font-style: italic;
}
.recommendation{
    margin: 30px;
}
.recommendation p{
    padding-bottom: 10px;
}

.recommendation-course{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    
}
.recommendation-course__card{
    border: 1px solid gray;
    border-radius: 10px;
    padding:10px;
    width:290px;
}
.recommendation-course__card img{
    height: 200px;
    border-radius:5px;

}
.topics{
    padding: 10px;
}
.topics__recommended{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
.topics__recommended p{
    border: 2px solid #ffffff;
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color:#aa91b9;
    color: rgb(255, 255, 255);
}
.popular{
    padding: 10PX;
}
.popular-course{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    overflow-y: auto
}
.popular-course__img-card{
    border: 1px solid gray;
    border-radius: 10px;
    padding:10px;
    width:290px;
    margin: 10px 0px;
}
.popular-course__img-card img{
    height: 200px;
    border-radius:5px;
}
.partners{
    height: 200px;
    background-color: #e4e8ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.partners h3{
    color: #6A6F73;
    margin-bottom: 40px;
}
.partners__logo{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}
.comments{
    padding: 40px;
}
.comments__card{
    display: flex;
    padding: 10px;
    justify-content:space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.comments__card__tab{
    border: 1px solid gray;
    border-radius: 20px;
    height: 230px;
    padding: 30px;
    display: flex;
    width:210px;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.subscription{
    background-color: #f3efef;
    overflow-x: auto;
}
.subscription__plan{
    display: flex;
    justify-content:space-around;
    height: 550px;
    padding:20px;
    flex-wrap: wrap;
    gap:10px
}
.subscription__plan__card{
    border: 1px solid gray;
    border-radius: 20px;
    border-top: 10px solid #A435F0;
    width:400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}
.subscription__plan__card a{
    color: #892DE1;
    border: 1px solid #892DE1;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    text-align: center;
    padding:10px;
    text-decoration: none;
}
.Advertisement{
    display: flex;
    height:600px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding:0px 20px;
    margin: 20px;
    overflow-x: auto;
}
.Advertisement__report{
    display: flex;
    flex-direction: column;
    flex-basis:300px;
    flex: grow 1;
    padding: 0px 40px;
    gap: 20px;
}
.Advertisement__report a{
    color: #892DE1;
    border: 1px solid #892DE1;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-weight: bolder;
}
.Advertisement__image{
    display: flex;
    flex-basis:70%;
    height: 500px;
    flex: grow 2;
}
.adv{
    background-color: #202230;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    margin: 0px 80px;
    gap: 20px;
}
.adv__des{
    width: 550px;
    color: white ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size:17px;
    margin: 0px 30px;
}
.adv__des p{
    color: #6A6F73;
}
.adv__des strong{
    color: black;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    text-align: center;
    padding:10px;
}
.adv__img{
    width:700px;
    height: 500px;
    margin: 0px 30px;
}
.adv__img img{
    width: 100%;
    height: 100%;
}
.footer{
    background-color: #2A2B3F;
    border-top: 2.8px solid rgb(104, 103, 103) ;
    margin-top: 30px;
}
.footer__s1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 2px solid gray;
}
.footer__s1__content{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 40px;
    padding: 0px 30px;
    color: white;
}
.footer__s2{
    padding: 20px 50px;
    color: white;
    overflow-x: auto;
}
.footer__s2 h3{
    padding: 20px 0px;
}
.footer__s2__courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px ;
    height: 400px;
    flex-wrap:wrap;
}
.footer__s2__courses--list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 19%;
    gap: 5px;
}
.footer__s3{
    background-color: #202230;
    color: white;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    height: 160px;
    border-bottom: 2px solid gray;
    overflow-x: auto;


}
.footer__s3--list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 19%;
    gap: 5px;
}
.footer__s4{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 50px;
    color: white;
    flex-wrap: wrap;
    background-color: #202230;
}
.footer__s4--copy img{
    width:100px;
    height: 41px;
}
.footer__s4--copy{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}




